In [1]:
import numpy as np
import pandas as pd

## 주요 상권별 택시통행량 전처리

In [3]:
filepath = 'C:/Users/jelly/Desktop/패스트캠퍼스 부트캠프/4. 프로젝트/python_3조/주차장/'
filename = '주요 상권별 택시통행량 정보_2024-02-13.csv'

raw_data = pd.read_csv(filepath+filename, encoding='cp949')

In [4]:
raw_data

,trdar_no,trdar_nm,signgu_cd,signgu_nm,link_cnt,minm_txtr,max_txtr,ave_txtr,trdar_dgrm_crdnt
0,10000,지행역,41250,동두천시,60,54.9,1941.8,466.0,MULTIPOLYGON(((127.052538180246 37.89333752399...
1,10001,전곡터미널,41800,연천군,98,0.2,223.0,43.8,MULTIPOLYGON(((127.065940174241 38.02770235473...
2,10002,가능역,41150,의정부시,65,16.0,1039.0,343.3,MULTIPOLYGON(((127.042767775045 37.74785124490...
3,10003,경기도청북부청사역_1,41150,의정부시,105,1.9,518.4,89.4,MULTIPOLYGON(((127.071360514471 37.75039646567...
4,10004,경기도청북부청사역_2,41150,의정부시,103,11.5,1015.4,139.8,MULTIPOLYGON(((127.070985995273 37.75334733713...
...,...,...,...,...,...,...,...,...,...
1161,9995,심석고등학교,41360,남양주시,192,0.6,636.2,111.3,MULTIPOLYGON(((127.302450112333 37.65979194622...
1162,9996,장현초등학교,41360,남양주시,43,39.4,547.6,265.0,MULTIPOLYGON(((127.181402646128 37.72114484803...
1163,9997,평내동주민센터,41360,남양주시,91,1.2,841.8,105.1,MULTIPOLYGON(((127.236028924361 37.64867158555...
1164,9998,평내호평역,41360,남양주시,188,0.2,846.7,128.4,MULTIPOLYGON(((127.241969598884 37.65575930277...
1165,9999,중앙시장,41250,동두천시,34,40.6,2474.8,789.9,MULTIPOLYGON(((127.053224238504 37.90704050688...

In [6]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1166 entries, 0 to 1165
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   trdar_no          1166 non-null   int64
 1   trdar_nm          1166 non-null   object
 2   signgu_cd         1166 non-null   int64
 3   signgu_nm         1166 non-null   object
 4   link_cnt          1166 non-null   int64
 5   minm_txtr         1166 non-null   float64
 6   max_txtr          1166 non-null   float64
 7   ave_txtr          1166 non-null   float64
 8   trdar_dgrm_crdnt  1166 non-null   object
dtypes: float64(3), int64(3), object(3)
memory usage: 82.1+ KB

In [5]:
#원하는 데이터 확인
raw_data['signgu_nm'].unique()

array(['동두천시', '연천군', '의정부시', '포천시', '남양주시', '김포시', '부천시', '고양시 덕양구',
       '고양시 일산동구', '고양시 일산서구', '파주시', '과천시', '군포시', '의왕시', '안양시 동안구',
       '안양시 만안구', '안산시 단원구', '안산시 상록구', '남동구', '미추홀구', '연수구', '중구', '강화군',
       '계양구', '부평구', '서구', '대덕구', '유성구', '동구', '아산시', '예산군', '천안시 서북구',
       '천안시 동남구', '계룡시', '금산군', '논산시', '부여군', '서천군', '당진시', '보령시', '서산시',
       '태안군', '세종특별자치시', '공주시', '청양군', '진천군', '청주시 청원구', '청주시 흥덕구',
       '청주시 상당구', '청주시 서원구', '충주시', '단양군', '제천시', '괴산군', '음성군', '증평군',
       '보은군', '영동군', '옥천군', '성북구', '시흥시', '원주시', '남구', '나주시', '강서구', '북구',
       '홍성군', '문경시', '담양군', '영광군', '김천시', '경주시', '경산시', '구미시', '춘천시',
       '구례군', '보성군', '익산시', '청도군', '속초시', '고성군', '인제군', '여수시', '수원시 영통구',
       '용인시 기흥구', '강릉시', '사하구', '마포구', '종로구', '서대문구', '용산구', '은평구', '구로구',
       '금천구', '양천구', '영등포구', '강동구', '광진구', '성동구', '송파구', '중랑구', '강남구',
       '서초구', '관악구', '동작구', '강북구', '노원구', '도봉구', '동대문구', '양구군', '철원군',
       '홍천군', '화천군', '양양군', '영월군', '평창군', '횡성군', '동해시', '삼척시', '정선군',
       '태백시', '사상구', '금정구', '동래구', '부산진구', '연제구', '기장군', '수영구', '해운대구',
       '영도구', '울주군', '창녕군', '창원시 의창구', '창원시 마산합포구', '창원시 마산회원구',
       '창원시 성산구', '창원시 진해구', '거창군', '남해군', '사천시', '산청군', '의령군', '진주시',
       '하동군', '함양군', '합천군', '김해시', '양산시', '거제시', '통영시', '달서구', '수성구',
       '봉화군', '안동시', '영양군', '영주시', '예천군', '의성군', '고령군', '군위군', '상주시',
       '성주군', '칠곡군', '영덕군', '울진군', '포항시 남구', '포항시 북구', '영천시', '광산구',
       '강진군', '목포시', '무안군', '영암군', '완도군', '장성군', '장흥군', '진도군', '함평군',
       '해남군', '고흥군', '곡성군', '광양시', '순천시', '화순군', '서귀포시', '제주시', '무주군',
       '완주군', '전주시 완산구', '전주시 덕진구', '남원시', '순창군', '군산시', '고창군', '김제시',
       '부안군', '정읍시', '수원시 권선구', '수원시 장안구', '수원시 팔달구', '용인시 수지구',
       '용인시 처인구', '안성시', '평택시', '오산시', '화성시', '광명시', '광주시', '성남시 분당구',
       '성남시 수정구', '성남시 중원구', '양평군', '여주시', '이천시', '하남시', '가평군', '구리시'],
      dtype=object)

In [12]:
#시군구 코드를 이용하여 서울 지역 데이터만 추출
seoul_data = raw_data[raw_data['signgu_cd']<20000]

In [13]:
seoul_data

,trdar_no,trdar_nm,signgu_cd,signgu_nm,link_cnt,minm_txtr,max_txtr,ave_txtr,trdar_dgrm_crdnt
256,10276,북한산보국문역,11290,성북구,26,37.1,587.7,237.1,MULTIPOLYGON(((127.008624271942 37.61216952042...
257,10277,정릉역,11290,성북구,69,22.1,1394.9,399.0,MULTIPOLYGON(((127.011757613555 37.60434198865...
328,9138,공덕역_1,11440,마포구,49,75.5,1674.8,548.5,MULTIPOLYGON(((126.951086855113 37.54370868521...
329,9139,공덕역_2,11440,마포구,61,7.1,1674.8,413.2,MULTIPOLYGON(((126.95321229004 37.546626537567...
330,9140,디지털미디어시티,11440,마포구,84,36.3,671.7,210.9,MULTIPOLYGON(((126.887123962571 37.58344875982...
...,...,...,...,...,...,...,...,...,...
575,9391,성신여대입구역,11290,성북구,77,20.5,1507.6,277.4,MULTIPOLYGON(((127.015200731527 37.59131113282...
576,9392,안암역,11290,성북구,18,56.9,628.5,332.8,MULTIPOLYGON(((127.02943992819 37.586197757605...
577,9393,신설동역_2,11230,동대문구,52,6.7,1351.5,319.2,MULTIPOLYGON(((127.02512626803 37.577260904292...
578,9394,장한평역_1,11230,동대문구,33,66.2,1086.2,396.7,MULTIPOLYGON(((127.06634405916 37.563789135826...
579,9395,장한평역_2,11230,동대문구,61,9.7,1086.2,324.1,MULTIPOLYGON(((127.057018074208 37.56443360305...

In [14]:
#25개 구 데이터 확인
seoul_data['signgu_nm'].unique()

array(['성북구', '마포구', '종로구', '서대문구', '용산구', '은평구', '중구', '강서구', '구로구',
       '금천구', '양천구', '영등포구', '강동구', '광진구', '성동구', '송파구', '중랑구', '강남구',
       '서초구', '관악구', '동작구', '강북구', '노원구', '도봉구', '동대문구'], dtype=object)

In [17]:
seoul_data = seoul_data.drop(['trdar_no', 'trdar_nm', 'signgu_cd', 'trdar_dgrm_crdnt'], axis=1).reset_index(drop=True)

In [18]:
seoul_data

    signgu_nm  link_cnt  minm_txtr  max_txtr  ave_txtr
0         성북구        26       37.1     587.7     237.1
1         성북구        69       22.1    1394.9     399.0
2         마포구        49       75.5    1674.8     548.5
3         마포구        61        7.1    1674.8     413.2
4         마포구        84       36.3     671.7     210.9
..        ...       ...        ...       ...       ...
249       성북구        77       20.5    1507.6     277.4
250       성북구        18       56.9     628.5     332.8
251      동대문구        52        6.7    1351.5     319.2
252      동대문구        33       66.2    1086.2     396.7
253      동대문구        61        9.7    1086.2     324.1

[254 rows x 5 columns]

- link_cnt 링크수: 표준노드링크 기준 인근 도로수
- minm_txtr 최소 택시통행량: 각 링크별 평균택시통행량 중 최솟값
- max_txtr 최대 택시통행량: 각 링크별 평균택시통행량 중 최댓값
- ave_txtr 평균 택시통행량: 각 링크별 평균택시통행량의 평균값

In [22]:
#시군구명, 평균 택시 통행량만 남기기로 함
seoul_taxi = seoul_data.groupby('signgu_nm')['ave_txtr'].mean().reset_index().rename({'signgu_nm':'시군구명'}, axis=1)

In [23]:
seoul_taxi

    시군구명    ave_txtr
0    강남구  688.645455
1    강동구  411.566667
2    강북구  433.650000
3    강서구  368.933333
4    관악구  642.322222
5    광진구  598.966667
6    구로구  406.280000
7    금천구  397.200000
8    노원구  297.175000
9    도봉구  233.200000
10  동대문구  334.133333
11   동작구  431.257143
12   마포구  554.310000
13  서대문구  437.200000
14   서초구  617.504167
15   성동구  330.000000
16   성북구  355.350000
17   송파구  506.088889
18   양천구  455.320000
19  영등포구  408.923077
20   용산구  517.700000
21   은평구  488.425000
22   종로구  404.969231
23    중구  422.505263
24   중랑구  416.700000

In [24]:
seoul_taxi.to_csv('C:/Users/jelly/Desktop/패스트캠퍼스 부트캠프/4. 프로젝트/python_3조/주차장/서울(구별) 택시통행량_전처리.csv',
                encoding='cp949')