In [1]:
import numpy as np
import pandas as pd

In [2]:
filepath = 'C:/Users/jelly/Desktop/패스트캠퍼스 부트캠프/4. 프로젝트/python_3조/주차장/'
filename = '서울시 공영주차장 안내 정보.csv'
public = pd.read_csv(filepath+filename, encoding='cp949')

In [3]:
# 데이터 컬럼 확인
public.columns

Index(['주차장코드', '주차장명', '주소', '주차장 종류', '주차장 종류명', '운영구분', '운영구분명', '전화번호',
       '주차현황 정보 제공여부', '주차현황 정보 제공여부명', '총 주자면', '유무료구분', '유무료구분명', '야간무료개방여부',
       '야간무료개방여부명', '평일 운영 시작시각(HHMM)', '평일 운영 종료시각(HHMM)', '주말 운영 시작시각(HHMM)',
       '주말 운영 종료시각(HHMM)', '공휴일 운영 시작시각(HHMM)', '공휴일 운영 종료시각(HHMM)',
       '최종데이터 동기화 시간', '토요일 유,무료 구분', '토요일 유,무료 구분명', '공휴일 유,무료 구분',
       '공휴일 유,무료 구분명', '월 정기권 금액', '노상 주차장 관리그룹번호', '기본 주차 요금',
       '기본 주차 시간(분 단위)', '추가 단위 요금', '추가 단위 시간(분 단위)', '버스 기본 주차 요금',
       '버스 기본 주차 시간(분 단위)', '버스 추가 단위 시간(분 단위)', '버스 추가 단위 요금', '일 최대 요금',
       '위도', '경도'],
      dtype='object')

In [4]:
# 데이터 값 확인
public.head()

,주차장코드,주차장명,주소,주차장 종류,주차장 종류명,운영구분,운영구분명,전화번호,주차현황 정보 제공여부,주차현황 정보 제공여부명,...,기본 주차 시간(분 단위),추가 단위 요금,추가 단위 시간(분 단위),버스 기본 주차 요금,버스 기본 주차 시간(분 단위),버스 추가 단위 시간(분 단위),버스 추가 단위 요금,일 최대 요금,위도,경도
0,1010089,초안산근린공원주차장(구),도봉구 창동 24-0,NW,노외 주차장,1,시간제 주차장,NaN,0,미연계중,...,NaN,300.0,10.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,1012254,마들스타디움(근린공원)(구),노원구 상계동 770-2,NW,노외 주차장,1,시간제 주차장,02-2289-6735,0,미연계중,...,5.0,150.0,5.0,0.0,0.0,0.0,0.0,11000.0,NaN,NaN
2,1013181,마장동(건물) 공영주차장(구),성동구 마장동 463-2,NW,노외 주차장,1,시간제 주차장,02-2204-7970,2,20~120분이내 연계데이터 존재(정보수집중),...,5.0,50.0,5.0,0.0,0.0,0.0,0.0,NaN,37.569939,127.035145
3,1025695,영등포여고 공영(구),영등포구 신길동 184-3,NW,노외 주차장,1,시간제 주차장,02-2677-1401,1,현재~20분이내 연계데이터 존재(현재 주차대수 표현),...,5.0,50.0,5.0,0.0,0.0,0.0,0.0,0.0,37.515205,126.915116
4,1025696,당산근린공원 공영(구),영등포구 당산동3가 385-0,NW,노외 주차장,1,시간제 주차장,02-2677-1401,1,현재~20분이내 연계데이터 존재(현재 주차대수 표현),...,5.0,150.0,5.0,0.0,0.0,0.0,0.0,0.0,37.525526,126.895794

In [5]:
# 필요한 데이터만 가져오기
public = public[['주차장코드', '주차장명','총 주자면','주소', '위도', '경도']]

In [6]:
public

,주차장코드,주차장명,총 주자면,주소,위도,경도
0,1010089,초안산근린공원주차장(구),71.0,도봉구 창동 24-0,NaN,NaN
1,1012254,마들스타디움(근린공원)(구),177.0,노원구 상계동 770-2,NaN,NaN
2,1013181,마장동(건물) 공영주차장(구),54.0,성동구 마장동 463-2,37.569939,127.035145
3,1025695,영등포여고 공영(구),98.0,영등포구 신길동 184-3,37.515205,126.915116
4,1025696,당산근린공원 공영(구),190.0,영등포구 당산동3가 385-0,37.525526,126.895794
...,...,...,...,...,...,...
18762,968503,삼양마을공원지하공영주차장(구),95.0,강북구 미아동 748-2,37.622745,127.018428
18763,968514,색동공원 공영주차장(구),80.0,강북구 수유동 49-7,NaN,NaN
18764,980509,비봉주차장(구),40.0,종로구 구기동 139-9,NaN,NaN
18765,984617,신도림역환승주차장(구),65.0,구로구 구로동 1-4,NaN,NaN
18766,984688,구로아트밸리 지하주차장(구),245.0,구로구 구로동 102-0,37.496996,126.889598

In [7]:
# 주소 데이터 분리해서 자치구명 추출
public['구명'] = public['주소'].str.split(" ", expand=True).iloc[:,[0]]

In [8]:
#구획당 한 행으로 구분되어 있는 데이터 확인 -> 주차장코드로 groupby해서 합계 구한 뒤에 진행
#(-> 공영주차장 행 수가 18000여개였던 이유)
public.sort_values(by='총 주자면')

,주차장코드,주차장명,총 주자면,주소,위도,경도,구명
9293,1565220,대치유수지(구),1.0,강남구 대치동 78-29,37.505712,127.068110,강남구
11987,1597176,압구정29길 노상공영 주차장(구),1.0,강남구 압구정동 453-0,37.528851,127.028200,강남구
11988,1597176,압구정29길 노상공영 주차장(구),1.0,강남구 압구정동 453-0,37.528574,127.028280,강남구
11989,1597176,압구정29길 노상공영 주차장(구),1.0,강남구 압구정동 453-0,37.531449,127.027442,강남구
11990,1597176,압구정29길 노상공영 주차장(구),1.0,강남구 압구정동 453-0,37.528077,127.028426,강남구
...,...,...,...,...,...,...,...
18480,3243424,송파구 풍납동 306-25(구),NaN,송파구 풍납동 306-25,NaN,NaN,송파구
18481,3243754,송파구 풍납동 222-75(구),NaN,송파구 풍납동 222-75,NaN,NaN,송파구
18482,3243768,송파구 풍납동 292-33(구),NaN,송파구 풍납동 292-33,NaN,NaN,송파구
18483,3245071,송파구 풍납동 140-3(구),NaN,송파구 풍납동 140-3,NaN,NaN,송파구
18580,3246602,test(시),NaN,강남구 역삼동 1-1,1.000000,1.000000,강남구

In [9]:
#자치구별 총 주차면수 계산
public_pre = public.groupby(['주차장코드', '주차장명', '구명'])['총 주자면'].sum().reset_index()

In [10]:
public_pre

        주차장코드                  주차장명   구명  총 주자면
0       74588           가오천 노상공영(구)  강북구   63.0
1       74849           빨래골 노상공영(구)  강북구    1.0
2       75160          아카데미 노상공영(구)  강북구    1.0
3       75432          아카데미 노상공영(구)  강북구   63.0
4       79957           빨래골 노상공영(구)  강북구   35.0
...       ...                   ...  ...    ...
2221  3246396        공유) 11-77구역(구)  금천구   22.0
2222  3246398        공유) 12-10구역(구)  금천구   10.0
2223  3246602               test(시)  강남구    0.0
2224  3246676        서울암사동유적 주차장(시)  강동구  108.0
2225  3246701  성수문화예술마당 임시 공영주차장(구)  성동구  236.0

[2226 rows x 4 columns]

In [11]:
# 합계 계산한 데이터셋과 원 데이터를 주차장 코드로 붙여서 합계 데이터에 해당 주차장의 주소지 붙이기
public_locate = pd.merge(public_pre, public, on='주차장코드', how='inner').drop(['주차장명_y', '총 주자면_y', '구명_y'], axis=1).rename({'주차장명_x':'주차장명', '구명_x':'구명','총 주자면_x':'총 주차면'}, axis=1)

In [12]:
#테스트 데이터 삭제
public_locate = public_locate.drop_duplicates(['주차장코드']).drop([18764]).reset_index(drop=True)

In [13]:
public_locate

,주차장코드,주차장명,구명,총 주차면,주소,위도,경도
0,74588,가오천 노상공영(구),강북구,63.0,강북구 수유동 181-40,37.643789,127.024994
1,74849,빨래골 노상공영(구),강북구,1.0,강북구 수유동 49-27,NaN,NaN
2,75160,아카데미 노상공영(구),강북구,1.0,강북구 수유동 535-76,NaN,NaN
3,75432,아카데미 노상공영(구),강북구,63.0,강북구 수유동 535-76,37.642829,127.002693
4,79957,빨래골 노상공영(구),강북구,35.0,강북구 수유동 49-27,37.633341,127.019223
...,...,...,...,...,...,...,...
2220,3246381,창동 쌍리단길 상점가 공영주차장(구),도봉구,6.0,도봉구 창동 657-125,38.330400,127.021500
2221,3246396,공유) 11-77구역(구),금천구,22.0,금천구 시흥동 79-3,37.446896,126.910990
2222,3246398,공유) 12-10구역(구),금천구,10.0,금천구 시흥동 866-11,37.458862,126.903015
2223,3246676,서울암사동유적 주차장(시),강동구,108.0,강동구 암사동 139-2,37.559172,127.130342
2224,3246701,성수문화예술마당 임시 공영주차장(구),성동구,236.0,성동구 성수동1가 683-0,37.545186,127.035336

In [14]:
# 지도에 주차장 표시하기 위한 데이터셋 저장
public_locate.to_csv('C:/Users/jelly/Desktop/패스트캠퍼스 부트캠프/4. 프로젝트/python_3조/주차장/전처리 완료/서울공영주차장데이터(위치)_전처리.csv',
                 encoding='cp949', index=False)

In [32]:
public_locate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   주차장코드   2225 non-null   int64
 1   주차장명    2225 non-null   object
 2   구명      2225 non-null   object
 3   총 주차면   2225 non-null   float64
 4   주소      2225 non-null   object
 5   위도      1383 non-null   float64
 6   경도      1383 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 121.8+ KB

In [33]:
public_locate

,주차장코드,주차장명,구명,총 주차면,주소,위도,경도
0,74588,가오천 노상공영(구),강북구,63.0,강북구 수유동 181-40,37.643789,127.024994
1,74849,빨래골 노상공영(구),강북구,1.0,강북구 수유동 49-27,NaN,NaN
2,75160,아카데미 노상공영(구),강북구,1.0,강북구 수유동 535-76,NaN,NaN
3,75432,아카데미 노상공영(구),강북구,63.0,강북구 수유동 535-76,37.642829,127.002693
4,79957,빨래골 노상공영(구),강북구,35.0,강북구 수유동 49-27,37.633341,127.019223
...,...,...,...,...,...,...,...
2220,3246381,창동 쌍리단길 상점가 공영주차장(구),도봉구,6.0,도봉구 창동 657-125,38.330400,127.021500
2221,3246396,공유) 11-77구역(구),금천구,22.0,금천구 시흥동 79-3,37.446896,126.910990
2222,3246398,공유) 12-10구역(구),금천구,10.0,금천구 시흥동 866-11,37.458862,126.903015
2223,3246676,서울암사동유적 주차장(시),강동구,108.0,강동구 암사동 139-2,37.559172,127.130342
2224,3246701,성수문화예술마당 임시 공영주차장(구),성동구,236.0,성동구 성수동1가 683-0,37.545186,127.035336

In [35]:
#주차면에 결측이었던 주차장은 groupby 거치면서 0으로 계산됨
#여전히 송파구에 주차면 0이 많음 -> 대체 필요
public_locate.sort_values(by='총 주차면', ascending=True).iloc[:20, :]

        주차장코드                 주차장명   구명  총 주차면                주소  위도  경도
2026  3218596    송파구 풍납동 142-90(구)  송파구    0.0    송파구 풍납동 142-90 NaN NaN
2124  3233636    송파구 풍납동 297-16(구)  송파구    0.0    송파구 풍납동 297-16 NaN NaN
2038  3219273    송파구 풍납동 229-17(구)  송파구    0.0    송파구 풍납동 229-17 NaN NaN
2123  3233382    송파구 풍납동 152-77(구)  송파구    0.0    송파구 풍납동 152-77 NaN NaN
2122  3233365     송파구 풍납동 324-1(구)  송파구    0.0     송파구 풍납동 324-1 NaN NaN
2121  3233234    송파구 풍납동 148-24(구)  송파구    0.0    송파구 풍납동 148-24 NaN NaN
2120  3231585    송파구 가락동 144-10(구)  송파구    0.0    송파구 가락동 144-10 NaN NaN
2039  3219514  송파구 풍납동 151-9009(구)  송파구    0.0  송파구 풍납동 151-9009 NaN NaN
2119  3229726     송파구 풍납동 81-12(구)  송파구    0.0     송파구 풍납동 81-12 NaN NaN
2040  3219520     송파구 풍납동 83-23(구)  송파구    0.0     송파구 풍납동 83-23 NaN NaN
2041  3219973     송파구 마천동 369-1(구)  송파구    0.0     송파구 마천동 369-1 NaN NaN
2042  3220060    송파구 풍납동 140-26(구)  송파구    0.0    송파구 풍납동 140-26 NaN NaN
2043  3220066    송파구 풍납동 144-26(구)  송파구    0.0    송파구 풍납동 144-26 NaN NaN
2118  3229459      송파구 거여동 11-1(구)  송파구    0.0      송파구 거여동 11-1 NaN NaN
2117  3229224   송파구 풍납동 222-137(구)  송파구    0.0   송파구 풍납동 222-137 NaN NaN
2116  3229157  송파구 풍납동 149-9031(구)  송파구    0.0  송파구 풍납동 149-9031 NaN NaN
2115  3228693     송파구 풍납동 88-89(구)  송파구    0.0     송파구 풍납동 88-89 NaN NaN
2114  3228652    송파구 풍납동 237-32(구)  송파구    0.0    송파구 풍납동 237-32 NaN NaN
2113  3228587    송파구 풍납동 410-18(구)  송파구    0.0    송파구 풍납동 410-18 NaN NaN
2112  3228484    송파구 풍납동 231-65(구)  송파구    0.0    송파구 풍납동 231-65 NaN NaN

In [36]:
public_locate.groupby('구명')['주차장코드'].count()

구명
강남구     112
강동구      31
강북구      46
강서구      93
관악구      32
광진구      45
구로구      42
금천구     250
노원구      53
도봉구      30
동대문구     68
동작구      74
마포구      93
서대문구     19
서초구      58
성동구     238
성북구      21
송파구     265
양천구     101
영등포구    157
용산구      57
은평구      13
종로구      88
중구      166
중랑구      73
Name: 주차장코드, dtype: int64

In [38]:
public_locate.groupby('구명')['총 주차면'].sum()

구명
강남구     6394.0
강동구     3512.0
강북구     2585.0
강서구     6436.0
관악구     1708.0
광진구     1743.0
구로구     2686.0
금천구     3312.0
노원구     2322.0
도봉구     2140.0
동대문구    3938.0
동작구     1482.0
마포구     3941.0
서대문구     663.0
서초구     5546.0
성동구     6759.0
성북구      928.0
송파구     7751.0
양천구     6388.0
영등포구    5908.0
용산구     4009.0
은평구     1571.0
종로구     4480.0
중구      6230.0
중랑구     2884.0
Name: 총 주차면, dtype: float64

In [39]:
#주차면수가 결측인 데이터 179개
#송파구의 결측이 제일 많음
#결측값에 구별 평균값으로 대치
public_locate[public_locate['총 주차면'] == 0.0].groupby('구명')['주차장코드'].count()

구명
송파구    175
용산구      2
종로구      1
Name: 주차장코드, dtype: int64

p_mean = public_locate['총 주차면'].mean()
print(p_mean)

public_locate['총 주차면'].sum()

public = public.astype({'총 주자면':'string'})

#10, 20, 30인 데이터도 같이 바뀌게 됨
public['총 주자면'].str.replace('0.0', '42.82')

#0.0으로 시작하는 값 -> 0.0밖에 없음
#2222번 값을 보면 위에서는 값이 변환되었고, 이번 실행에서는 변환되지 않음
public['총 주자면'].str.replace('^0.0', '42.82',regex=True)

public['총주차면'] = public['총 주자면'].str.replace('^0.0', '42.82',regex=True)

public = public.reset_index(drop=True).drop('총 주자면', axis=1)

public = public.astype({'총주차면':'float'})

In [45]:
public_locate.groupby('구명')['주차장코드'].count().reset_index()

      구명  주차장코드
0    강남구    112
1    강동구     31
2    강북구     46
3    강서구     93
4    관악구     32
5    광진구     45
6    구로구     42
7    금천구    250
8    노원구     53
9    도봉구     30
10  동대문구     68
11   동작구     74
12   마포구     93
13  서대문구     19
14   서초구     58
15   성동구    238
16   성북구     21
17   송파구    265
18   양천구    101
19  영등포구    157
20   용산구     57
21   은평구     13
22   종로구     88
23    중구    166
24   중랑구     73

In [47]:
public_locate.groupby('구명')['총 주차면'].sum().reset_index()

      구명   총 주차면
0    강남구  6394.0
1    강동구  3512.0
2    강북구  2585.0
3    강서구  6436.0
4    관악구  1708.0
5    광진구  1743.0
6    구로구  2686.0
7    금천구  3312.0
8    노원구  2322.0
9    도봉구  2140.0
10  동대문구  3938.0
11   동작구  1482.0
12   마포구  3941.0
13  서대문구   663.0
14   서초구  5546.0
15   성동구  6759.0
16   성북구   928.0
17   송파구  7751.0
18   양천구  6388.0
19  영등포구  5908.0
20   용산구  4009.0
21   은평구  1571.0
22   종로구  4480.0
23    중구  6230.0
24   중랑구  2884.0

In [51]:
nums = public_locate.groupby('구명')['주차장코드'].count().reset_index()

In [52]:
nums

      구명  주차장코드
0    강남구    112
1    강동구     31
2    강북구     46
3    강서구     93
4    관악구     32
5    광진구     45
6    구로구     42
7    금천구    250
8    노원구     53
9    도봉구     30
10  동대문구     68
11   동작구     74
12   마포구     93
13  서대문구     19
14   서초구     58
15   성동구    238
16   성북구     21
17   송파구    265
18   양천구    101
19  영등포구    157
20   용산구     57
21   은평구     13
22   종로구     88
23    중구    166
24   중랑구     73

In [53]:
nums.query('구명 == "마포구" or 구명 == "성동구"')

     구명  주차장코드
12  마포구     93
15  성동구    238

In [55]:
lots = public_locate.groupby('구명')['총 주차면'].sum().reset_index()

In [56]:
parkinglot = pd.merge(nums, lots, on='구명').rename({'주차장코드':'주차장수'}, axis=1)

In [59]:
parkinglot['주차장당주차면']=parkinglot['총 주차면']/parkinglot['주차장수']

In [60]:
parkinglot

      구명  주차장수   총 주차면     주차장당주차면
0    강남구   112  6394.0   57.089286
1    강동구    31  3512.0  113.290323
2    강북구    46  2585.0   56.195652
3    강서구    93  6436.0   69.204301
4    관악구    32  1708.0   53.375000
5    광진구    45  1743.0   38.733333
6    구로구    42  2686.0   63.952381
7    금천구   250  3312.0   13.248000
8    노원구    53  2322.0   43.811321
9    도봉구    30  2140.0   71.333333
10  동대문구    68  3938.0   57.911765
11   동작구    74  1482.0   20.027027
12   마포구    93  3941.0   42.376344
13  서대문구    19   663.0   34.894737
14   서초구    58  5546.0   95.620690
15   성동구   238  6759.0   28.399160
16   성북구    21   928.0   44.190476
17   송파구   265  7751.0   29.249057
18   양천구   101  6388.0   63.247525
19  영등포구   157  5908.0   37.630573
20   용산구    57  4009.0   70.333333
21   은평구    13  1571.0  120.846154
22   종로구    88  4480.0   50.909091
23    중구   166  6230.0   37.530120
24   중랑구    73  2884.0   39.506849

In [61]:
parkinglot.to_csv('C:/Users/jelly/Desktop/패스트캠퍼스 부트캠프/4. 프로젝트/python_3조/주차장/전처리 완료/서울공영주차장수_전처리.csv',
                 encoding='cp949', index=False)